resources/sc.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="graph" type="xs:element">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="start" type="xs:string"/>
                <xs:element name="end" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

    </xs:element>
</xs:schema>